<template name="currentBomb">
    {{#contentFor "headerTitle"}}
        <h1 class="title">BOMB</h1>
    {{/contentFor}}

    {{#contentFor "headerButtonLeft"}}
      {{>ionNavBackButton class="button-positive" text=false}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
        {{#with currentBomb}}
          <div class="list card">


            <div class="item item-avatar">
              <img class="" src="/{{image}}">
              <h2>{{name}}</h2>
            </div>



            <div class="item">
              <center>
            {{#if isDisarmed}}
                <i class="fa fa-check-circle fa-5x red"></i>
            {{else}}
                  {{#if proximity3}}
                    <i class="fa fa-bomb fa-5x red"></i>
                  {{else}}
                    <i class="fa fa-certificate fa-5x fa-spin"></i>
                  {{/if}}
            {{/if}}
              <div style="margin-top:20px;">

                {{#if proximity0}}<i class="fa fa-3x fa-circle-o"></i><i class="fa fa-3x fa-circle-o"></i><i class="fa fa-3x fa-circle-o"></i>{{/if}}
                {{#if proximity1}}<i class="fa fa-3x fa-circle"></i><i class="fa fa-3x fa-circle-o"></i><i class="fa fa-3x fa-circle-o"></i>{{/if}}
                {{#if proximity2}}<i class="fa fa-3x fa-circle"></i><i class="fa fa-3x fa-circle"></i><i class="fa fa-3x fa-circle-o"></i>{{/if}}
                {{#if proximity3}}<i class="fa fa-3x fa-circle"></i><i class="fa fa-3x fa-circle"></i><i class="fa fa-3x fa-circle"></i>{{/if}}

              </div>
              {{#unless isDisarmed}}
                  {{#if canCut}}
                    <a href="#" id="cutWire" class="button button-assertive button-block">CUT THE WIRE</a>
                  {{/if}}
              {{/unless}}
            </center>
            </div>

            {{#if nearByUsers}}
            <div class="item">
              {{#each nearByUsers}}
                <img class="avatar" src="http://api.adorable.io/avatars/60/{{this}}.png">
              
              {{/each}}
            </div>
            {{/if}}

            <div class="item item-body">
                <p>{{description}}</p>

            </div>

          </div>
          {{/with}}
        {{/ionContent}}
    {{/ionView}}
</template>
