<template name="layout">
    {{> sAlert}}
    {{#ionBody}}
        {{> ionNavBar class="bar-assertive"}}
        {{#ionNavView}}
            {{> yield}}
        {{/ionNavView}}

        {{#ionTabs class="tabs-assertive tabs-icon-top"}}
            <!--{{#if isActiveRoute regex='login|rulesInAdvance|leaderboard'}}-->
                <!--{{#if currentUser}}-->
                    <!--{{>ionTab title="RULES" path="rulesInAdvance" iconOff="ios-bookmarks-outline" iconOn="ios-bookmarks"}}-->
                <!--{{/if}}-->
                <!--{{>ionTab title="LOGIN" path="login" iconOff="ios-checkmark-outline" iconOn="ios-checkmark"}}-->
                <!--{{> ionTab title="RANKING" path="leaderboard" iconOff="podium" iconOn="podium"}}-->
            <!--{{/if}}-->

            {{#if isNotActiveRoute regex='login'}}
                {{> ionTab title="GAMES" path="gamesList" iconOff="ios-game-controller-b-outline" iconOn="ios-game-controller-b"}}

                {{#if hasCurrentGame}}
                  {{> ionTab title="PLAY" path="play" iconOff="ios-play-outline" iconOn="ios-play"}}
                {{else}}
                  {{> ionTab title="CREATE" path="createGame" iconOff="ios-plus-outline" iconOn="ios-plus"}}
                {{/if}}
            {{/if}}
        {{/ionTabs}}
    {{/ionBody}}

</template>
