<template name="rulesInAdvance">
    {{#contentFor "headerTitle"}}
        <h1 class="title">RULES OF THE GAME</h1>
        {{>logout}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="card">
                <div class="item item-divider">
                    Save Las Palmas from doom!
                </div>
                <div class="item item-text-wrap">
                    <p>You will need to be with four players. Once your team is complete you will be able to start the game.</p>
                    <p>The intention of the game is to defuse the bomb, because **Evil Mastermind of your choice** wants to detonate Las Palmas.</p>
                    <p>This evil mastermind expected that someone would try to prevent him from doing this so he made his bomb sensitive to manipulations.</p>
                    <p>Due to this you will have to cut the wires of the bomb in the right order.</p>
                    <p>We'll give you tips to find out which wire should be cut first.</p>
                </div>
                <div class="item item-divider">
                    Good luck!
                </div>
            </div>
        {{/ionContent}}
    {{/ionView}}
</template>
