<template name="beacon">
    <div class="list card beacon-card">

        <div class="item item-avatar">
            <img src="/{{image}}">
            <a href="{{pathFor "currentBomb"}}">
                <h2>{{name}}</h2>

                <p>{{description}} - {{_id}}</p>
            </a>
        </div>

        <div class="item item-body">
            {{#each users}}

                <img src="http://api.adorable.io/avatars/60/{{_id}}.png" class="avatar">
            {{/each}}
        </div>
    </div>
</template>
