<template name="play">

  {{#contentFor "headerTitle"}}
    <h1 class="title">PLAY</h1>
  {{/contentFor}}

  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton class="button-positive" text=false}}

  {{/contentFor}}
  {{#contentFor "headerButtonRight"}}


  {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
          {{> map waypoints=waypoints history=locationsHistory showCurrentLocation=1 saveLocation=1 resultId=resultId}}
<button class="button button-clear button-stop">Stop</button>
        {{/ionContent}}
    {{/ionView}}
</template>
