<template name="winner">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Congratulations!</h1>
        {{>logout}}
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <div class="card">
                <div class="item item-divider">
                    Congratulations - You've defused tha bomb!
                </div>
                <div class="item item-text-wrap">
                    <p>The people from Las Palmas thank you for saving their world!</p>
                    <p>Everyone is so happy that they even invite you to come and eat Papas arrugadas con Mojo with them!</p>
                </div>
                <div class="item item-divider">
                    Thanks for saving Las Palmas.
                </div>
            </div>
        {{/ionContent}}
    {{/ionView}}

</template>
