<template name="team">
    {{#contentFor "headerTitle"}}
        <h1 class="title">TEAM</h1>
        {{>logout}}
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent}}
            <section id="users">
                {{#ionList}}
                    {{#each inGameUsers}}
                        {{#ionItem avatar=true}}
                            <img src="http://api.adorable.io/avatars/50/{{_id}}" class="user-image"/>
                            <p>{{username}}</p>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            </section>
        {{/ionContent}}
    {{/ionView}}

</template>
