<template name="leaderboard">
    {{#contentFor "headerTitle"}}
        <h1 class="title">LEADERBOARD</h1>
        {{>logout}}
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent}}
            <section id="leaderboard">
                {{#ionList}}
                    {{#if results}}
                        {{#each results}}
                            {{#ionItem avatar=true}}
                                <img src="http://api.adorable.io/avatars/50/{{teamName}}" class="user-image"/>
                                <p>{{@index}} - {{username.username}} : {{score}}</p>
                            {{/ionItem}}
                        {{/each}}
                    {{else}}
                        Sorry, no any results yet!
                    {{/if}}
                {{/ionList}}
            </section>
        {{/ionContent}}
    {{/ionView}}
</template>
