<template name="leaderboard">
    {{#contentFor "headerTitle"}}
        <h1 class="title">LEADERBOARD</h1>
        {{>logout}}
    {{/contentFor}}


    {{#ionView}}
        {{#ionContent}}
            <section id="leaderboard">
                {{#ionList}}
                    {{#each teams}}
                        {{#ionItem avatar=true}}
                            <img src="http://api.adorable.io/avatars/50/{{teamName}}" class="user-image"/>
                            <p>{{@index}} - {{teamName}} : {{score}}</p>
                        {{/ionItem}}
                    {{/each}}
                {{/ionList}}
            </section>
        {{/ionContent}}
    {{/ionView}}
</template>
