<template name="gameView">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Game</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <section id="game">
                {{#with game}}
                {{#ionList}}
                      {{> gameCard}}
                      {{#if isAuthor}}
                          <div class="row">
                              <div class="col">
                                <a href="{{pathFor "addWaypoint" _id}}" class="button button-positive button-block button-outline">Add Waypoint</a>
                              </div>
                              <div class="col">
                                  <a href="{{pathFor "addWaypoint" _id}}" class="button button-positive button-block button-outline">Publish</a>
                              </div>
                          </div>
                      {{/if}}
                {{/ionList}}
                {{/with}}
            </section>
        {{/ionContent}}
    {{/ionView}}
</template>
