<template name="gameView">
    {{#contentFor "headerTitle"}}
        <h1 class="title">Game</h1>
    {{/contentFor}}

    {{#ionView}}
        {{#ionContent}}
            <section id="game">
                {{#with game}}
                {{#ionList}}
                      {{> gameCard}}
                      {{name}}
                      {{#if isAuthor}}
                          <a href="{{pathFor "addWaypoint" _id}}">Add Waypoint</a>
                          <a href="{{pathFor "addWaypoint" _id}}">Publish</a>
                      {{/if}}
                {{/ionList}}
                {{/with}}
            </section>
        {{/ionContent}}
    {{/ionView}}
</template>
